@unocss all;

html {
  font-size: 15px;
  line-height: 1.8em;
}

h1 {
  @apply text-key-500 text-4xl leading-snug;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-altsans;
}

.lexical h2,
.lexical h3,
.lexical h4,
.lexical h5,
.lexical h6 {
  margin: revert;
}

.lexical p {
  margin: revert;
}
.lexical p {
  min-height: 0.1px;
}
.lexical h2 {
  @apply text-2xl;
}
.lexical h3 {
  @apply text-xl;
}
.lexical h4 {
  @apply text-lg;
}
.lexical ul,
.lexical ol {
  all: revert;
  @apply pl-4;
}
.lexical li {
  @apply max-w-lg;
}
.lexical .text-left {
  text-align: left;
}
.lexical .text-center {
  text-align: center;
}
.lexical .text-right {
  text-align: right;
}
