@unocss all;

html {
  font-size: 15px;
  line-height: 1.8em;
}

h1 {
  @apply text-key-500 text-4xl leading-normal;
}

.lexical > * {
  all: revert;
}
.lexical p {
  min-height: 0.1px;
}
.lexical .text-left {
  text-align: left;
}
.lexical .text-center {
  text-align: center;
}
.lexical .text-right {
  text-align: right;
}
